@media screen and (max-width: 1550px) {
    .cert-image {
        width: 280px;
        height: auto;
    }
}

@media screen and (max-width: 1250px) {
    nav ul li button {
        width: .9rem;
        height: .9rem;
    }

    .cert-image {
        width: 240px;
        height: auto;
    }

    .cert-image::after {
        font-size: 12px;
    }

    .portev-image {
        width: 240px;
        height: auto;
    }

    .portev-image .overlay {
        font-size: 12px;
    }

    .web-image {
        width: 240px;
        height: auto;
    }

    .web-image .overlay {
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px) {
    nav ul li button {
        width: .8rem;
        height: .8rem;
    }

    .cert-image {
        width: 160px;
        height: auto;
    }

    .cert-images-row {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 10px;
    }

    .cert-image::after {
        font-size: 7px;
    }

    .portev-image {
        width: 160px;
        height: auto;
    }

    .portev-image .overlay {
        font-size: 7px;
    }

    .web-image {
        width: 160px;
        height: auto;
    }

    .web-image .overlay {
        font-size: 7px;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 600px;
    }

    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 225px;
    }
}

@media screen and (max-width: 850px) {
    hr  {
        margin: 0 25px 25px 25px;
        width: 500px;
    }
    
    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 175px;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 750px) {
    hr  {
        margin: 0 25px 25px 25px;
        width: 500px;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 750px) {
    nav {
        display: flex;
        align-items: center;
        height: 100vh;
        position: fixed;
        right: 0;
        width: 60px;
    }

    nav ul li button {
        width: .8rem;
        height: .8rem;
        background-color: var(--text-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transform: rotate(-45deg);
        transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1); 
        z-index: 996;
    }

    .cert-image {
        width: 140px;
        height: auto;
    }

    .cert-images-row {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5px;
    }

    .cert-image::after {
        font-size: 6px;
    }

    .portev-images-row {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5px;
    }

    .portev-image {
        width: 140px;
        height: auto;
    }

    .portev-image .overlay {
        font-size: 6px;
    }

    .web-image {
        width: 140px;
        height: auto;
    }

    .web-images-row {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 5px;
    }

    .web-image .overlay {
        font-size: 6px;
    }
}

@media screen and (max-width: 650px) {
    nav {
        display: flex;
        align-items: center;
        height: 100vh;
        position: fixed;
        right: 0;
        width: 40px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        align-items: center;
        height: 100vh;
        position: fixed;
        right: 0;
        width: 40px;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 400px;
    }

    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: .9rem;
    }
}

@media screen and (max-width: 550px) {
    nav {
        display: flex;
        align-items: center;
        height: 100vh;
        position: fixed;
        right: 0;
        width: 25px;
    }
}


@media screen and (max-width: 550px) {
    .contact-info a {
        font-size: 25px;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 400px;
    }
    
    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: .9rem;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 550px) {
    nav ul li button {
        display: none;
    }

    .one h1 {
        font-size: 75px;
    }

    .two h1 {
        color: var(--text-color);
    }
    
    .two p {
        font-size: .8rem;
        color: var(--text-color);
    }

    .two {
        padding: 0 15vw;
    }

    .cert-images-row {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1px;
    }
    
    .cert-image {
        width: 150px;
        height: auto;
    }

    .cert-image:hover img {
        transform: translateY(-4px);
        opacity: 0.7;
    }
    
    .cert-image::after {
        display: none;
    }
    
    .cert-image:hover::after {
        opacity: 1;
        pointer-events: auto;
    }

    .portev-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }
    
    .portev-image {
        width: 180px;
        height: auto;
    }

    .portev-image .overlay {
        display: none;
    }

    .web-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }
    
    .web-image {
        width: 200px;
        height: auto;
    }

    .web-image .overlay {
        display: none;
    }

    .contact-info a {
        font-size: 20px;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 300px;
    }
    
    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: .6rem;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 550px) {
    .menu-container {
        position: fixed;
        top: 25px;
        right: 30px;
        z-index: 999;
    }

    .nav-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.4s ease, transform 0.4s ease;
        z-index: 998;
    }

    .nav-box.active {
        opacity: 1;
        transform: translateY(0); /* Bring the nav box into view */
    }

    /* Links */
    ul {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

    ul li {
        margin: 15px 0;
    }

    .contact-info-menu {
        text-align: center;
        margin-top: 30px;
    }

    .social-links {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .one h1 {
        font-size: 65px;
    }

    .two h1 {
        color: var(--text-color);
    }
    
    .two p {
        font-size: .75rem;
        color: var(--text-color);
    }

    .cert-images-row {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1px;
    }
    
    .cert-image {
        position: relative;
        display: inline-block;
        width: 100px;
        height: auto;
    }

    .cert-image:hover img {
        transform: translateY(-4px);
        opacity: 0.7;
    }
    
    .cert-image::after {
        display: none;
    }
    
    .cert-image:hover::after {
        opacity: 1;
        pointer-events: auto;
    }

    .portev-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }
    
    .portev-image {
        position: relative;
        display: inline-block;
        width: 175px;
        height: auto;
    }

    .web-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }
    
    .web-image {
        position: relative;
        display: inline-block;
        width: 175px;
        height: auto;
    }

    .web-image .overlay {
        display: none;
    }

    .contact-info a {
        font-size: 20px;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 300px;
    }
    
    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: .6rem;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 375px) {
    .two p {
        font-size: .6rem;
        color: var(--text-color);
    }
    
    .one h1 {
        font-size: 60px;
    }

    .two h1 {
        color: var(--text-color);
    }
    
    .two p {
        font-size: .7rem;
        color: var(--text-color);
    }

    .cert-images-row {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1px;
    }
    
    .cert-image {
        width: 125px;
        height: auto;
    }

    .cert-image:hover img {
        transform: translateY(-4px);
        opacity: 0.7;
    }
    
    .cert-image::after {
        display: none;
    }
    
    .cert-image:hover::after {
        opacity: 1;
        pointer-events: auto;
    }
    
    .portev-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }

    .portev-image {
        width: 175px;
        height: auto;
    }

    .web-images-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-bottom: 1px;
    }
    
    .web-image {
        width: 175px;
        height: auto;
    }

    .web-image .overlay {
        display: none;
    }

    hr  {
        margin: 0 25px 25px 25px;
        width: 300px;
    }
    
    .copyright-socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: .6rem;
    }
    
    .copyright-socials p {
        color: var(--text-color);
    }
}